@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

body {
    margin: 0;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
}

.container {
    width: 1440px;
    height: 100%;
    margin: auto;
    @media (max-width: 800px) {
        width: 375px;
    }
}

header {
    background-color: transparent;
    height: 10vh;
    line-height: 10vh;
    position: sticky;
    top: 0;
    z-index: 2;
    .header-desktop {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto 1fr auto auto;
        place-items: center;
    }
}

button {
    height: 40px;
    line-height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    color:hsl(356, 100%, 66%);
    background-color: hsl(0, 0%, 100%);
    transition: all 0.2s ease-in;
    cursor: pointer;
    &:hover {
        color:hsl(0, 0%, 100%);
        background-color: hsl(355, 100%, 74%);
    }
}

section#intro {
    height: 100vh;
    width: 100%;
    margin-top: -10vh;
    background-image: url('/images/bg-pattern-intro.svg'), 
        linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: 240%;
    background-position: 25% 50%;
    text-align: center;
    border-bottom-left-radius: 100px;
    position: sticky;
    top: -90vh;
    .container {
        display: grid;
        place-content: center;
    }
    .content {
        height: 50vh;
        display: grid;
        place-items: center;
        grid-template-rows: repeat(3, auto);
    }
    h1 {
        font-size: 4em;
        font-weight: bold;
        margin: 0;
    }
    p {
        margin: 0;
    }
    button:last-child {
        margin: 10px;
        color: hsl(0, 0%, 100%);
        background-color: transparent;
        border: 1px solid hsl(0, 0%, 100%);
        &:hover {
            color:hsl(355, 100%, 74%);
            background-color: hsl(0, 0%, 100%);
        }
    }
}

.info-section {
    height: 90vh;
    margin-top: 10vh;
    h2 {
        text-align: center;
        color: hsl(208, 49%, 24%);
        font-size: 2.2em;
        font-weight: 700;
    }
    h3 {
        font-size: 1.8em;
        font-weight: 700;
        color: hsl(208, 49%, 24%);
    }
    p {
        font-family: 'Ubuntu', sans-serif;
        color: hsl(207, 13%, 34%);
        line-height: 2em;
    }
    .container {
        display: grid;
        place-items: center;
    }
    .section-text {
        width: 50%;
    }
}

section#design-future {
    background-image:  url('/images/illustration-editor-desktop.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 120% 15%;
}

section#state-of-art {
    height: 60vh;
    background-image: url('/images/bg-pattern-circles.svg'), 
        linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    background-repeat: no-repeat;
    background-position: -35% 80%;
    border-radius: 0 100px 0 100px;
    .content {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}


section#benefits {
    background-image:  url('/images/illustration-laptop-desktop.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: -20% 15%;
    h2 {
        display: none;
    }
    .section-text {
        position: relative;
        left: 20%;
    }
}

footer {
    background-color: hsl(240, 10%, 16%);
    color: hsl(240, 2%, 79%);
    margin: 0;
    height: 50vh;
    @media (max-width: 800px) {
        height: auto;
    }
    .content {
        display: grid;
        grid-auto-flow: column;
        padding-top: 70px; 
        @media (max-width: 800px) {
            grid-auto-flow: row;
            text-align: center;
            img {
                margin: 0 auto 30px auto;
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
    }
    h4 {
        margin: 0 0 30px;
    }
    li {
        list-style-type: none;
        padding-block-start: 0;
        line-height: 2em;
    }
    a {
        text-decoration: none;
        color: hsl(240, 2%, 79%);
        font-weight: 400;
        &:hover {
            text-decoration: underline;
        }
    }
}