@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
body {
  margin: 0;
  font-size: 16px;
  color: white;
  font-family: "Overpass", sans-serif;
}

.container {
  width: 1440px;
  height: 100%;
  margin: auto;
}
@media (max-width: 800px) {
  .container {
    width: 375px;
  }
}

header {
  background-color: transparent;
  height: 10vh;
  line-height: 10vh;
  position: sticky;
  top: 0;
  z-index: 2;
}
header .header-desktop {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto 1fr auto auto;
  place-items: center;
}
header .header-desktop_product:hover ul.options-list {
  opacity: 1;
}
header a {
  text-decoration: none;
  color: white;
}
header ul {
  position: absolute;
  opacity: 0;
  list-style-type: none;
  padding: 0;
  background-color: white;
  color: black;
  line-height: 2.5em;
  padding: 20px;
  border-radius: 5px;
  width: 120px;
  transition: all 0.3s ease;
}
header ul li:hover {
  font-weight: 700;
  cursor: pointer;
}
header ul a {
  color: black;
}

button {
  height: 40px;
  line-height: 40px;
  width: 120px;
  border-radius: 20px;
  border: none;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  color: #ff525d;
  background-color: white;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: #ff7a85;
}

section#intro {
  height: 100vh;
  width: 100%;
  margin-top: -10vh;
  background-image: url("/images/bg-pattern-intro.svg"), linear-gradient(to right, #ff8f70, #ff3d54);
  background-size: 240%;
  background-position: 25% 50%;
  text-align: center;
  border-bottom-left-radius: 100px;
  position: sticky;
  top: -90vh;
}
section#intro .container {
  display: grid;
  place-content: center;
}
section#intro .content {
  height: 50vh;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(3, auto);
}
section#intro h1 {
  font-size: 4em;
  font-weight: bold;
  margin: 0;
}
section#intro p {
  margin: 0;
}
section#intro button:last-child {
  margin: 10px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
section#intro button:last-child:hover {
  color: #ff7a85;
  background-color: white;
}

.info-section {
  height: 90vh;
  margin-top: 10vh;
}
.info-section h2 {
  text-align: center;
  color: #1f3f5b;
  font-size: 2.2em;
  font-weight: 700;
}
.info-section h3 {
  font-size: 1.8em;
  font-weight: 700;
  color: #1f3f5b;
}
.info-section p {
  font-family: "Ubuntu", sans-serif;
  color: #4b5862;
  line-height: 2em;
}
.info-section .container {
  display: grid;
  place-items: center;
}
.info-section .section-text {
  width: 50%;
}

section#design-future {
  background-image: url("/images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 120% 15%;
}

section#state-of-art {
  height: 60vh;
  background-image: url("/images/bg-pattern-circles.svg"), linear-gradient(to right, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position: -35% 80%;
  border-radius: 0 100px 0 100px;
}
section#state-of-art .content {
  display: grid;
  grid-template-columns: auto 1fr;
}

section#benefits {
  background-image: url("/images/illustration-laptop-desktop.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: -20% 15%;
}
section#benefits h2 {
  display: none;
}
section#benefits .section-text {
  position: relative;
  left: 20%;
}

footer {
  background-color: #25252d;
  color: #c8c8cb;
  margin: 0;
  height: 50vh;
}
@media (max-width: 800px) {
  footer {
    height: auto;
  }
}
footer .content {
  display: grid;
  grid-auto-flow: column;
  padding-top: 70px;
}
@media (max-width: 800px) {
  footer .content {
    grid-auto-flow: row;
    text-align: center;
  }
  footer .content img {
    margin: 0 auto 30px auto;
  }
}
footer ul {
  margin: 0;
  padding: 0;
}
footer h4 {
  margin: 0 0 30px;
}
footer li {
  list-style-type: none;
  padding-block-start: 0;
  line-height: 2em;
}
footer a {
  text-decoration: none;
  color: #c8c8cb;
  font-weight: 400;
}
footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
