@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

body {
    margin: 0;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
}

.container {
    width: 1440px;
    height: 100%;
    margin: auto;
}

header {
    background-color: transparent;
    height: 10vh;
    line-height: 10vh;
    position: sticky;
    top: 0;
    z-index: 2;
    .header-desktop {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto 1fr auto auto;
        place-items: center;
    }
}

button {
    height: 40px;
    line-height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    color:hsl(356, 100%, 66%);
    background-color: hsl(0, 0%, 100%);
    transition: all 0.2s ease-in;
    cursor: pointer;
    &:hover {
        color:hsl(0, 0%, 100%);
        background-color: hsl(355, 100%, 74%);
    }
}

section#intro {
    height: 100vh;
    width: 100%;
    margin-top: -10vh;
    background-image: url('/images/bg-pattern-intro.svg'), 
        linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: 240%;
    background-position: 25% 50%;
    text-align: center;
    border-bottom-left-radius: 100px;
    position: sticky;
    top: -90vh;
    .container {
        display: grid;
        place-content: center;
    }
    .content {
        height: 50vh;
        display: grid;
        place-items: center;
        grid-template-rows: repeat(3, auto);
    }
    h1 {
        font-size: 4em;
        font-weight: bold;
        margin: 0;
    }
    p {
        margin: 0;
    }
    button:last-child {
        margin: 10px;
        color: hsl(0, 0%, 100%);
        background-color: transparent;
        border: 1px solid hsl(0, 0%, 100%);
        &:hover {
            color:hsl(355, 100%, 74%);
            background-color: hsl(0, 0%, 100%);
        }
    }
}

.info-section {
    height: 90vh;
    margin-top: 10vh;
    h2 {
        text-align: center;
        color: hsl(208, 49%, 24%);
    }
    h3 {
        color: hsl(208, 49%, 24%);
    }
    p {
        font-family: 'Ubuntu', sans-serif;
        color: hsl(207, 13%, 34%);
    }
    .content {
        display: grid;
    }
}

section#design-future {
    .content {
        grid-template-columns: 1fr auto;
    }
}

section#state-of-art {
    height: 60vh;
    background-image: url('/images/bg-pattern-circles.svg'), 
        linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    background-repeat: no-repeat;
    background-position: -35% 80%;
    border-radius: 0 100px 0 100px;
    .content {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

section#benefits {
    .content {
        grid-template-columns: auto 1fr;
    }
    h2 {
        display: none;
    }
}

footer {
    background-color: hsl(240, 10%, 16%);
    color: hsl(240, 2%, 79%);
    margin: 0;
    ul {
        margin: 0;
    }
}